---
import '../styles/global.css';
import { navigatorUrls } from './../data/navigatorUrls';
import { identity, skills } from './../data/personal'
import BaseLayout from '../layouts/BaseLayout.astro';
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{navigatorUrls['about'].title}</title>
    </head>
    <BaseLayout>
        <h1>{navigatorUrls['about'].title}</h1>
		<h2>... and my new Astro site!</h2>
        <p>I am working for first time with Astro</p>
        <p>The web system for educational content will be there soon.</p>
        <b>About me:</b>
        <ul>
            {Object.keys(identity).map((keyword) => (
                <li>{keyword}: {identity[keyword]}</li>
            ))}
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    </BaseLayout>
</html>