---

---
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">Who am I?</a>
        <a href="/blog">Astro as content manager</a>
        <h1>A tool to post mathematical content</h1>
        <p>It's amazing how technologies are developed to enhance user and developer experiece. Using Astro I expect to share my knowledge and opinions</p>
    </body>
</html>