---
import '../styles/global.css';
import { navigatorUrls } from './../data/navigatorUrls';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{navigatorUrls['blog'].title}</title>
    </head>
    <BaseLayout pageTitle={navigatorUrls['blog'].title}>
        <h1>A tool to post mathematical content</h1>
        <p>It's amazing how technologies are developed to enhance user and developer experiece. Using Astro I expect to share my knowledge and opinions.</p>
        <p>Astro is extremely powerful because of it's flexible simplicity, for example translating .md files to html for fast content creation with almost zero knowledge. For example the following post:</p>
        <ul>
            <li><a href="/posts/post-1">Post 1</a></li>
            <li><a href="/posts/post-2">Post 2</a></li>
            <li><a href="/posts/post-3">Post 3</a></li>
        </ul>
    </BaseLayout>
</html>