---
import type { MainUrlsImp } from '@pageTypes/MainUrls';

export const mainUrlsData: MainUrlsImp = {
    "home": {title: "Home", route: "/"},
    "about": {title: "About me with Astro", route: "/about"},
    "blog": {title: "Astro as content manager", route: "/blog"}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{mainUrlsData['home'].title}</title>
	</head>
	<body>
        <div style="display: inline-flex; gap: 1rem;">
            {Object.keys(mainUrlsData).map((key) => (
                <a href={mainUrlsData[key].route}>{mainUrlsData[key].title}</a>
            ))}
        </div>
		<h1>Astro</h1>
		<h1>My Astro site</h1>
	</body>
</html>
