---
import type { MainUrlsImp } from '../types/MainUrls';

const mainUrlsData: MainUrlsImp = {
    "home": {title: "Home", route: "/"},
    "about": {title: "About me with Astro", route: "/about"},
    "blog": {title: "Astro as content manager", route: "/blog"}
}
---
<div class="nav-links" style="display: inline-flex; gap: 1rem;">
    {Object.keys(mainUrlsData).map((key) => (
        <a href={mainUrlsData[key].route}>{mainUrlsData[key].title}</a>
    ))}
</div>